<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TUSK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TUSK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TUSK.Properties.Settings.DataConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Data.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <TUSK.Properties.Settings>
      <setting name="LastReadMessage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="NextId" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LastPost" serializeAs="String">
        <value>1970-01-01</value>
      </setting>
      <setting name="LastDump" serializeAs="String">
        <value>1970-01-01</value>
      </setting>
    </TUSK.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <TUSK.Properties.Settings>
      <setting name="APIKey" serializeAs="String">
        <value>164775419:AAH4ZDtqG_vTmMQIs0-lVxVlF1S8aTIz0yM</value>
      </setting>
    </TUSK.Properties.Settings>
  </applicationSettings>
</configuration>